body {
  background: white;
  margin: 0px;
  padding: 1em;
}

#topbar {
  width: 100%;
  height: 4em;
  margin: 1em 0 1.5em 0;
}

#title {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Bitter', serif;
}

#menu {
  display: inline-block;
  float: right;
  font-family: 'Bitter', serif;
  font-size: 2em;
  font-weight: 500;
}

.paging {
    font-family: 'Bitter', serif;
    display: inline-block;
    float:right;
}

dl,dd,h1,h2,h3,h4,h5,h6 {
  margin: auto;
}

#menu dd {
  margin: 0 1em 0 0;
  display: inline;
}

a {
  color: black;
  border-bottom: 2px dotted #282D39;
  text-decoration: none;
}

a:visited {
  color: rgb(45,45,45);
  border-bottom: 2px dotted #B0BDDC;
}

#title a {
  color: black;
  border-bottom: none;
}

#content {
  padding: 1em;
}

/* Entry title */
.post .post-title {
  font-family: 'Bitter', serif;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: .5em;
  text-align: center;
}

.post-body {
    line-height: 1.3em;
}

#content .post-title a {
  border-bottom: none;
}

.post {
  font-size: 1.3em;
  font-family: 'Maven Pro', sans-serif;
  width: 40em;
  padding: 1em 0 1em 0;
  margin: auto;
  margin-bottom: 1em;
  border-bottom: double 4px black;
}

/* entry time container */
.post .datetime {
  font-family: 'Bitter';
  font-size: 1em;
  margin-bottom: 1em;
}

/* entry time value */
.post .datetime .post-time {
  font-family: 'Inconsolata';
  font-weight: 700;
}

/* entry tags */
ul.taglist {
  display: inline;
  padding: 0px;
}

ul.taglist li {
  font-size: 1em;
  display: inline;
  padding-left: .5em;
}

.taglist li:after {
  content: ",";
}

.taglist li:last-child:after {
  content: "";
}

#footer-wrap {
  padding: 1em;
  text-align: center;
  font-style: italic;
}

code[class],[syntax] {
  display: block;
  white-space: pre;
  color: #dcdccc;
  background: #1f1f1f;
  font-family: 'Inconsolata';
  font-size: 13pt;
  word-wrap: break-word;
  padding: .5em;
  margin: .5em;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
